<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>note</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../style.css" type="text/css" />

<link rel="stylesheet" href="../local.css" type="text/css" />










</head>
<body>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="../index.html">slurm-bank</a>/ 

<a href="../templates.html">templates</a>/ 

</span>
<span class="title">
note

</span>
</span>



</div>









</div>





<div id="pagebody">

<div id="content" role="main">
<p>Use this template to insert a note into a page. The note will be styled to
float to the right of other text on the page. This template has one
parameter:</p>

<ul>
<li>`text` - the text to display in the note
</ul>


</div>





<div id="comments" role="complementary">




<div class="addcomment">Comments on this page are closed.</div>

</div>



</div>

<div id="footer" class="pagefooter" role="contentinfo">

<div id="pageinfo">











<div class="pagedate">
Last edited <span class="date">Fri 13 Sep 09:30:24 2013</span>
<!-- Created <span class="date">Fri 13 Sep 09:30:24 2013</span> -->
</div>

</div>


<!-- from slurm-bank -->
</div>

</div>

</body>
</html>
